*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}

#page1{
    height: 100%;
    background-color: black;
    width: 100%;
    padding: 5vw 0;
}
#page2 h1{
    font-size: 40VW;
    text-transform: uppercase;
}
#page2{
    height: 100%;
    background-color: rgb(119, 197, 214);
    width: 100%;
   
}
#page3{
    height: 100%;
    background-color: black;
    width: 100%;
}